# History files
.Rhistory

src/*.o$
*.o
*.so

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata
*.rda

# tests

# todo
todo.txt

# RStudio files
.Rproj.user/
.Rproj.user
*Rproj

